asgiref==3.8.1
astroid==3.3.8
bcrypt==4.2.0
cffi==2.0.0
colorama==0.4.6
cryptography==46.0.7
dill==0.3.9
Django==5.2.14
django-background-tasks==1.2.8
et-xmlfile==1.1.0
future==1.0.0
greenlet==3.0.3
isort==6.0.0
markdown-it-py==4.2.0
mccabe==0.7.0
mdurl==0.1.2
netmiko==4.7.0
npm==0.1.1
ntc_templates==6.0.0
numpy==1.23.5
openpyxl==3.1.5
optional-django==0.1.0
pandas==1.5.3
paramiko==4.0.0
platformdirs==4.3.6
psycopg2==2.9.9
psycopg2-binary==2.9.5
pyarrow==21.0.0
pycparser==2.22
Pygments==2.20.0
pylint==3.3.4
PyNaCl==1.6.2
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
rich==15.0.0
ruamel.yaml==0.19.1
scp==0.15.0
six==1.16.0
SQLAlchemy==2.0.32
sqlparse==0.5.5
tabulate==0.9.0
textfsm==1.1.3
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.1
