{% extends 'tplt_base.html' %}

{% block MainContent %}
{% load static %}

<!-- Main Content -->
<div id="content">

    {% include 'topbar.html' %}

    <style type="text/css">
    a.custom-card:hover {
    color: none;
    text-decoration: none;
    }
    </style>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a class="custom-card" href="{% url 'dashboard' FW_NAME %}">
                <h1 class="h3 mb-0 text-gray-800">
                    {{ FW_NAME_slash }}
                </h1>
            </a>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between bg-gradient-info text-white">
                <h6 class="m-0 font-weight-bold ">
                    <i style="font-size:30px" class="fas fas fa-unlock"></i>
                    <i style="font-size:30px"> &nbsp; Deny Rules Top Triggering (in {{ This_Device.Delta_TimeStamps}})</i>
                </h6>
            </div>
        </div>



        <div class="nav nav-tabs mb-3" role="tablist">
            <button class="nav-link tablinks" onclick="openTab(event, 'Watch')" id="defaultOpen">Watch</button>
            <button class="nav-link disabled" onclick="openTab(event, 'Think')">Think</button>
            <button class="nav-link disabled" onclick="openTab(event, 'Fix')">Fix</button>
        </div>
  
        <div id="Watch" class="tabcontent">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <i style="font-size:30px" class="fas fa-glasses"></i>
                    </h6>
                </div>
                <style type="text/css">
                    div.scroll {
                    overflow-x: scroll;
                    overflow-y: hidden;
                    white-space: nowrap;
                    }
                </style>
  
                <div class="card-body">
                    The following deny rules are among the top...<br> consider checking who is.<br>

                    
                    <div class="card-body">

                        <table class="table-bordered table-condensed table-striped" id="dataTable" width="100%" cellspacing="0" data-order='[[ 0, "desc" ]]' data-page-length="50" >
             
                               <thead><tr>
                        <th>Diff_HitCnt</th>
                        <th>%</th>
                        <th>ACL</th>
                    </tr></thead>
                    <tbody>
                    <tr>
                        <td>4646079</td>
                        <td>100.0%</td>
                        <td><font color="#1e25ba"> access-list </font>VRF-TRANSIT_MGMT_access_in <font color="#995c00"> line </font>1616 <font color="#8f1489"> extended </font><font color="#ba1e28"> deny </font><font color="#ba1e28"> ip </font><font color="#ba1e28"> any </font><font color="#ba1e28"> any </font><font color="#1cb836"> log </font>informational interval 300 (hitcnt=345636516) 0x3f64e260 </td>
                    </tr>
                    <tr>
                        <td>141197</td>
                        <td>100.0%</td>
                        <td><font color="#1e25ba"> access-list </font>ACL_STG_MGMT_DB2 <font color="#995c00"> line </font>35 <font color="#8f1489"> extended </font><font color="#ba1e28"> deny </font><font color="#ba1e28"> ip </font><font color="#ba1e28"> any </font><font color="#ba1e28"> any </font>(hitcnt=10427942) 0x16e59fb6 </td>
                    </tr>
                    <tr>
                        <td>42079</td>
                        <td>100.0%</td>
                        <td><font color="#1e25ba"> access-list </font>ACL_NP01_MGMT <font color="#995c00"> line </font>45 <font color="#8f1489"> extended </font><font color="#ba1e28"> deny </font><font color="#ba1e28"> ip </font><font color="#ba1e28"> any </font><font color="#ba1e28"> any </font>(hitcnt=3068922) 0x47637584 </td>
                    </tr>
                    <tr>
                        <td>5456</td>
                        <td>100.0%</td>
                        <td><font color="#1e25ba"> access-list </font>VRF-PCI_APP_MGMT_access_in <font color="#995c00"> line </font>50 <font color="#8f1489"> extended </font><font color="#ba1e28"> deny </font><font color="#ba1e28"> ip </font><font color="#ba1e28"> any </font><font color="#ba1e28"> any </font><font color="#1cb836"> log </font>informational interval 300 (hitcnt=335846) 0x0b0bf5ea </td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>35.71%</td>
                        <td><font color="#1e25ba"> access-list </font>ACL_PRD_MGMT_DB3 <font color="#995c00"> line </font>6 <font color="#8f1489"> extended </font><font color="#ba1e28"> deny </font><font color="#ba1e28"> ip </font><font color="#ba1e28"> any </font><font color="#ba1e28"> any </font>(hitcnt=5787) 0xc5256a47 </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>100.0%</td>
                        <td><font color="#1e25ba"> access-list </font>ACL_PRD_MGMT_DB2 <font color="#995c00"> line </font>45 <font color="#8f1489"> extended </font><font color="#ba1e28"> deny </font><font color="#ba1e28"> ip </font><font color="#ba1e28"> any </font><font color="#ba1e28"> any </font>(hitcnt=9) 0x6150cfe6 </td>
                    </tr>
                    </tbody>
                </table>
             </div>
             




                </div>
            </div>
        </div>

      <!-- /.container-fluid -->
    </div>
</div>
<!-- End of Main Content -->
  
<script>
function openTab(evt, TabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(TabName).style.display = "block";
    evt.currentTarget.className += " active";
    }
  
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
  
{% endblock %}



















{% autoescape on %}
    {% block javascript %}

    {{ block.super }}

    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/demo/datatables-demo.js' %}" ></script>

    
    {% endblock javascript %}
{% endautoescape %}