{% extends 'tplt_base.html' %}

{% block MainContent %}
{% load static %}

<!-- Main Content -->
<div id="content">

    {% include 'topbar.html' %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                Settings
            </h1>
        </div>



        <style type="text/css"> 
            a.custom-card:hover {
            color: none;
            text-decoration: none;
            }
        </style>



        <!-- Content Row -->

        {% if messages %}
            {%  for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>


        {% for t_group in user.groups.all %}
        {% if 'Admin' in t_group.name %}

            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="h4 m-0 font-weight-bold text-primary">Default Credentials</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-primary" role="alert">
                        Default Credentials for Connecting to Devices
                    </div>
                        <a href="{% url 'default_credentials' %}" style="text-decoration:none;">
                            <button class="btn btn-primary" type="button"><i class="fas fa-user-cog text-white-50"></i>&nbsp;Auth Credentials</button>
                        </a>
                </div>
            </div>
        {% endif %}
        {% endfor %}


        <!-- Content Row -->

        
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="h4 m-0 font-weight-bold text-primary">Global Settings</h4>
            </div>

            <div class="card-body">

                {% if form.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>There was an error with your form!!!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    </div>                
                {% endif %}


                
                    

                <!-- Add your separator and text here -->
                <!--
                <div class="separator">
                    <hr>
                </div>
                -->
                <div class="alert alert-primary" role="alert">
                    Thresholds for Alerts and Warnings 
                </div>                
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group row align-items-center">
                            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                            <div class="col-sm-2">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            {% if field.help_text %}
                                <div class="col-sm-4">
                                    <small class="form-text text-muted">
                                        {{ field.help_text }}
                                    </small>
                                </div>
                            {% endif %}
                        </div>



                    {% endfor %}

                    {% for t_group in user.groups.all %}
                        {% if 'Admin' in t_group.name %}
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-cog text-white-50"></i> 
                                Update
                            </button> 
                        {% else %}
                            <button type="submit" class="btn btn-primary disabled" data-toggle="tooltip" title="You are not an Admin User" disabled>
                                <i class="fas fa-cog text-white-50"></i> 
                                Update
                            </button> 
                        {% endif %}
                    {% empty %}
                    <button type="submit" class="btn btn-primary disabled" data-toggle="tooltip" title="You are not an Admin User" disabled>
                        <i class="fas fa-cog text-white-50"></i>
                        Update
                    </button> 
                    {% endfor %}
                </form>


            </div>

        </div>

        <!-- Content Row -->




        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>        
   



    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
 



{% endblock %}

