{% extends 'tplt_base.html' %}

{% block MainContent %}
{% load static %}

<!-- Main Content -->
<div id="content">

    {% include 'topbar.html' %}

      
    <!-- Begin Page Content -->
    <div class="container-fluid">

        {% if messages %}
            {%  for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}
        {% endif %}
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tools</h1>
        </div>


        <div class="row">
            <div class="col-lg-6">

                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h4 class="h4 m-0 font-weight-bold text-primary">Subnetting</h4>
                    </div>
                    <div class="card-body">
                        <table class="table-bordered table-condensed table-striped"  width="100%" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>0</strong></div></td>
                                    <td class="text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div><div class="text-gray-900"><strong>/21</strong></div></td>
                                    <td class="text-center bg-gradient-orange " rowspan="4"><div class="text-white"><strong>/28</strong></div><div class="text-gray-900"><strong>/20</strong></div></td>
                                    <td class="text-center bg-gradient-success" rowspan="8"><div class="text-white"><strong>/27</strong></div><div class="text-gray-900"><strong>/19</strong></div></td>
                                    <td class="text-center bg-gradient-info   " rowspan="16"><div class="text-white"><strong>/26</strong></div><div class="text-gray-900"><strong>/18</strong></div></td>
                                    <td class="text-center bg-gradient-primary" rowspan="32"><div class="text-white"><strong>/25</strong></div><div class="text-gray-900"><strong>/17</strong></div></td>
                                    <td class="text-center bg-gradient-dark" rowspan="64"><div class="text-white"><strong>/24</strong></div><div class="text-gray-900"><strong>/16</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>4</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>8</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>12</strong></div></td>
                                </tr>  
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>16</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange  " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>20</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>24</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>28</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>32</strong></div></td>
                                    <td class="text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                    <td class="text-center bg-gradient-success" rowspan="8"><div class="text-white"><strong>/27</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>36</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>40</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>44</strong></div></td>
                                </tr>  
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>48</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange  " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>52</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>56</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>60</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>64</strong></div></td>
                                    <td class="text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                    <td class="text-center bg-gradient-success" rowspan="8"><div class="text-white"><strong>/27</strong></div></td>
                                    <td class="text-center bg-gradient-info  " rowspan="16"><div class="text-white"><strong>/26</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>68</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>71</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>76</strong></div></td>
                                </tr>  
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>80</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange  " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>84</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>88</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>92</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>96</strong></div></td>
                                    <td class="text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                    <td class="text-center bg-gradient-success" rowspan="8"><div class="text-white"><strong>/27</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>100</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>104</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>108</strong></div></td>
                                </tr>  
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>112</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange  " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>116</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>120</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>124</strong></div></td>
                                </tr> 
            
            
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>128</strong></div></td>
                                    <td class="text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                    <td class="text-center bg-gradient-success" rowspan="8"><div class="text-white"><strong>/27</strong></div></td>
                                    <td class="text-center bg-gradient-info   " rowspan="16"><div class="text-white"><strong>/26</strong></div></td>
                                    <td class="text-center bg-gradient-primary" rowspan="32"><div class="text-white"><strong>/25</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>132</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>136</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>140</strong></div></td>
                                </tr>  
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>144</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange  " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>148</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>152</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>156</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>160</strong></div></td>
                                    <td class="text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                    <td class="text-center bg-gradient-success" rowspan="8"><div class="text-white"><strong>/27</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>164</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>168</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>172</strong></div></td>
                                </tr>  
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>176</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange  " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>180</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>184</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>188</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>192</strong></div></td>
                                    <td class="text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                    <td class="text-center bg-gradient-success" rowspan="8"><div class="text-white"><strong>/27</strong></div></td>
                                    <td class="text-center bg-gradient-info  " rowspan="16"><div class="text-white"><strong>/26</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>196</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>200</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>204</strong></div></td>
                                </tr>  
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>208</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange  " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>212</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>216</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>220</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>224</strong></div></td>
                                    <td class="text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                    <td class="text-center bg-gradient-success" rowspan="8"><div class="text-white"><strong>/27</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>228</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>232</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>236</strong></div></td>
                                </tr>  
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-danger"><strong>240</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                    <td class="text-center bg-gradient-orange  " rowspan="4"><div class="text-white"><strong>/28</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>244</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>248</strong></div></td>
                                    <td class=" text-center bg-gradient-warning" rowspan="2"><div class="text-white"><strong>/29</strong></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center bg-gradient-light  "><div class="text-dark"><strong>252</strong></div></td>
                                </tr> 
                            </tbody>  
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h4 class="h4 m-0 font-weight-bold text-primary">Subnet Mask</h4>
                    </div>
                    <div class="card-body">

                        <table class="table-bordered table-condensed table-striped" id="dataTable" width="100%" cellspacing="0" data-page-length="100">
                            <thead>
                                <tr>
                                    <th class="text-center">Prefix</th>
                                    <th>Subnet Mask</th>
                                    <th>Wildcard Mask</th>
                                    <th>N° Hosts</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t_row in sub_table %}
                                    <tr>
                                        {% for t_col in t_row %}
                                            {% if forloop.counter == 1 %}
                                            <td class="text-center">
                                                <div class="text-primary" style="font-weight: bold;">
                                                    {{ t_col|safe }} 
                                                </div>
                                            </td>
                                            {% else %}
                                            <td>
                                                <div class="text-dark">{{ t_col|safe }} </div>
                                            </td>
                                            {% endif %}                                            
                                        {% endfor %}
                                    </tr>
                                {% endfor %}                                        
                            </tbody>
                        </table>
                        <script>
                            $(document).ready(function() {
                                $('#dataTable').DataTable({
                                    "ordering": false // Disable sorting
                                });
                            });
                        </script>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container-fluid -->




</div>
<!-- End of Main Content -->





{% endblock %}
<!--
{% autoescape on %}
    {% block javascript %}

    {{ block.super }}

    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/demo/datatables-demo.js' %}" ></script>

    
    {% endblock javascript %}
{% endautoescape %}
-->